* {
  box-sizing: border-box;
}

h4 {
  color: hsl(0, 0%, 80%);
}

@font-face {
  font-family: "Nethsans";
  src: local("Nethsans"), url(./fonts/nethsans.ttf) format("truetype");
}

body {
  overflow-x: hidden;
}
